# C++ build/binaries/fetched header files
bin/*
build/*
src/optparse.hpp

# Less - This file can now be fetched using install.bat/install.sh
gui/less.js

# Vscode
.vscode

#RSA pycache/message/keys
py_cryptography/keys.txt
py_cryptography/message.txt
py_cryptography/__pycache__/

