.tabs {
    &-container {
        width: 50%;
        
        a {
            text-decoration: none;
        }

        h2 {
            color: @grey;
        }
        hr {
            border: 2px solid @grey;
        }

        &.mod-encode {
            h2 {
                color: @blue;
                text-decoration: none;
            }
            hr {
                border: 2px solid @blue;
            }
        }

        &.mod-decode {
            h2 {
                color: @orange;
            }
            hr {
                border: 2px solid @orange;
            }
        }
    }
}

.menu-buttons {
    display: flex;
    text-align: center;
    margin-top: 5%;
    &-container {
        width: 50%;

        .menu-option {
            border: none;
            background: none;
            outline: 0;
        }
    }
    img {
        width: 35vw;
    }
}

.button-content {   
    margin: 3%;
    margin-top: 20%;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}

