body {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
    .loading-logo {
        img {
            width: 35%;
            margin: auto;
            position: absolute;
            top: 0; 
            left: 0; 
            bottom: 0; 
            right: 0;
        }
    }

    .loading-spin {
        img {
            width: 10%;
            margin: auto;
            position: absolute;
            top: 0; 
            left: 0; 
            bottom: 0; 
            right: 0;
            padding-top: 50%;
        }
    }

}

.rubric {
    display: flex;
    
    &.mod-banner {
        box-shadow: inset 0 -8px 14px -5px rgba(0, 0, 0, 0.3);

        h1 {
            padding: 5%;
        }
    }

    &.mod-title {
        box-shadow: 0 10px 20px 0px rgba(0,0,0,0.3);
        
        img {
            width: 8%;
            height: 8%;
            margin: 3%;
        }

        p {
            padding-right: 2%;
            color: @iOSblue;
        }
    }   

    h1 {
        text-align: center;
        margin: 0 auto;
        padding: 1%;
    }

}
    

    // &.wrapper {
    //     text-align: center;
    //     background-color: #ffffff;
    //     margin: 0 auto;display: flex;
    //     text-align: center;
    //     width: 100%;
    //     display: flex;
    //     text-align: center;
        
    //     &.banner {
    //         box-shadow: inset 0 -8px 14px -5px rgba(0, 0, 0, 0.3);
    //         padding-bottom: 3%;
    
    //         h1 {
    //             padding-bottom: 2%;
    //             margin: 5%;
                
    //         }
    //     }

    //     &.rubric {
    //         box-shadow: 0 10px 20px 0px rgba(0,0,0,0.3);
            
            
    
    //         .arrow {
    //             margin: 3%;
    //         }
    
    //         img {
    //             width: 35%;
    //         }
    
    //         h1 {
    //             margin: 0 auto;
    //             text-align: center;
    //         }
    //     }
    // }


.tabs {
    display: flex;
    text-align: center;
}
